* {
    margin: 0;
    padding: 0;
}

.text {
    height: 100vh;
    width: 100vw;
    background: url("https://wallpapercave.com/wp/6SLzBEY.jpg") no-repeat center center;
    background-size: cover;

    text-align: center;
    font-family: monospace;
    font-weight: bold;
    cursor: grabbing;
}

.text h1 {
    color: #2b3f3ffb;
    padding-top: 100px;
    font-size: 15rem;
    text-shadow: -13px -13px 0px rgba(0, 0, 0, 0.37);
}

.text h2 {
    color: #233333;
    font-size: 5em;
    text-shadow: -5px -5px 0px rgba(0, 0, 0, 0.7);
}

.text h3 {
    color: white;
    font-size: 2em;
    text-shadow: -7px -5px 0px rgba(0, 0, 0, 0.7);
}

.torch {
    width: 200px;
    height: 200px;
    margin: -180px 0 0 -200px;
    box-shadow: 0 0 0 9999em #000000f7;
    opacity: 1;
    border-radius: 50%;
    position: fixed;
    z-index: 5;
    background: rgba(0, 0, 0, 0.37);
}
.torch:after {
        content: "";
        display: block;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        box-shadow: inset 0 0 30px 10px #000;
    }